#{extends 'contestant/main.html' /}

#{set title:'Solutions' /}

#{table solutions, as:'solution', class:'datagrid'}
  #{column 'Created'} ${solution.created.format()} #{/column}
  #{column 'Task'} <a href="@{contestant.Task.index(competition.id, solution.task.id)}">${solution.task}</a> #{/column}
  #{column 'Language'} ${solution.language} #{/column}
  #{column 'Memory'} #{bytes solution.memory /} #{/column}
  #{column 'Time'} #{time solution.timeLength /} #{/column}
  #{column 'Download'} <a href="@{download(competition.id, solution.file.id)}">${solution.file}</a> #{/column}
  #{column 'Reply'} ${solution.systemReply} #{/column}
#{/table}

<p class="crudPages">
	#{if page > 1}
		<a href="@{index(competition.id, page-1)}" >&laquo; Previous</a>
		<span class="page"><a href="@{index(competition.id, page-1)}" >${page-1}</a></span>
	#{/if}
	<span class="page"><strong>${page}</strong></span>
	#{if pages > page}
		<span class="page"><a href="@{index(competition.id, page+1)}" >${page+1}</a></span>
		<a href="@{index(competition.id, page+1)}" >Next &raquo;</a>
	#{/if}
</p>