/*.primary-1 { background-color: #E6A117 } zahlavi
.primary-2 { background-color: #8F753F }
.primary-3 { background-color: #6D4A03 }
.primary-4 { background-color: #F9CA6D } světlé
.primary-5 { background-color: #F9E0B0 } pozadí
*/

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }


html {
}

body {
    display: block;
	border-width: 0px;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: sans-serif;
}

.inner-body {
	margin: auto;
	width: 1100px;
	height: auto;
	border-top: 0px;
	border-bottom: 0px;
	margin: 0 auto;
}

#header {
	position: fixed;
	top: 0px;
	width: 1100px;
	border-width: 0px;
	padding: 5px 0px 5px 0px;
	height: 25px;
	background-color: white;
	z-index: 1000;
}
#header h1 {
	font-size: 22px;
	margin: 0;
	padding: 0;
	text-align: center;
}

#menu {
	position: fixed;
	top: 35px;	
	height: 32px;
	width: 1100px;
	margin: 0;
	padding: 0;
	border-width: 0;
	background-color: #E6A117;
	z-index: 1000;
}
#menu ul {
	display: inline;
	height: 100%;
	width: 1060px;
}
#menu ul li {
	display: inline;
	float: left;
	text-align: center;
	height: 100%;
	padding: 6px 5px 0 0;
}
#menu ul li.right {
	float: right;
}
#menu ul li a {
	font-family: sans-serif;
	font-size: .8em;
	padding: 2px 8px;
	height: 100%;
	font-weight: bold;
	color: #6D4A03;
}
#menu ul li a.active {
	text-decoration: underline;
}

#content {
	padding: 0;
	border-width: 0;
	width: 1100px;
	margin-top: 80px;
}
.inner-content {
	width: 95%;
	margin: 40px auto auto auto;
}

h2 {
	font-size: 1.2em;
}
h3 {
	font-size: 1em;
	text-decoration: underline;
	margin: 30px 0 0 0;
}

a {
	color: #6D4A03;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.flashes {
	text-align: center;
	z-index: 90;
}

.flashes .flash {
	padding-top: 2px;
}

input.datepicker, input.datetimepicker {
	background-color: white;
	background-image: url('calendar.png');
	background-position: right;
	background-repeat: no-repeat;
}

table.table, form table {
	border-collapse: collapse;
}
table.table th, table.table td, form table th, form table td {
	text-align: left;
	padding: 4px 15px 4px 0px;
}


table.datagrid {
	width: 100%;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	background-color: #F9E0B0;
	font-size: .8em;
}
table.datagrid thead tr {
	background-color: #E6A117;
	color: #6D4A03;
}
table.datagrid th, table.datagrid td {
	border: 1px black solid;
	padding: 3px 5px 3px 5px;
}


.ui-icon.text-preview {
	position: relative;
	top: -6px;
	left: -6px;
	margin: 0;
	padding: 0;
}
.text-preview:hover {
	z-index: 100;
}
#text-preview-window {
	position: fixed;
	_position: absolute;
	top: 0px;
	left: 0px;
	background-color: white;
	width: 800px;
	border: 1px black solid;
	z-index: 10;
}

.text-preview-content {
	display: none;
}

/* Multiselect */
select[multiple="yes"] {
	width: 450px;
	height: 200px;
}
.ui-multiselect {
	float: left;
}
.crud_relation.crud_multiple {
	height: 200px;
}

/* CRUD */
#crudListAdd {
	float: left;
	margin: 0;
	padding: 0;
}
#crudListSearch {
	float: right;
}
#crudListTable {
	float: left;
	width: 100%;
}
#crudListPagination {
	float: left;
}
.crudFlash {
	width: 100%;
	float: left;
}

#help {
	font-family: serif;
	text-align: justify;
}