.primary-1 { background-color: #E6A117 }
.primary-2 { background-color: #8F753F }
.primary-3 { background-color: #6D4A03 }
.primary-4 { background-color: #F9CA6D }
.primary-5 { background-color: #F9E0B0 }


body {
	margin: auto;
	background: white;
	color: #666;
	font: 75%/1.33 Verdana, sans-serif;
	text-align: left;
	width: 1000px;
}
h1 {
	margin: 0.5em 0;
	font-size: 200%;
	color: #8F753F;
}
p {
	margin: 0.5em 0;
}
a {
	color: #F9CA6D;
}

.color-table {
	margin: 2em 2em 5em;
	border-collapse: collapse;
	border: none;
	border-spacing: 0;
	font-size: 100%;
}
.color-table th {
	padding: 0 1em 0 0;
	text-align: right;
	vertical-align: middle;
	font-size: 110%;
	border: none;
}
.color-table td.sample {
	width: 10em;
	height: 8em;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	font-size: 90%;
	border: 1px solid white;
	white-space: nowrap;
}
.color-table.small td.sample {
	width: 4em;
	height: 4em;
	padding: 0;
	border: none;
}
.color-table .white {
	margin-bottom: 0.2em;
	color: white
}
.color-table .black {
	margin-top: 0.2em;
	color: black
}

hr {
	border: none;
	border-bottom:1px solid silver;
}

#footer {
	padding: 1em 0;
	text-align: center;
	font-size: 80%;
	color: #F9CA6D;
}
#footer a {
	color: #E6A117;
}

/*CRUD*/
.crudSortedAsc:after {
	content: '▼';
}

.crudSortedDesc:after {
	content: '▲';
}

/** Breadcrumb **/

#crudBreadcrumb {
	padding: 5px 20px;
	font-size: 80%;
	border-bottom: 1px solid #ddd;
}

#crudBreadcrumb ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#crudBreadcrumb li {
	display: inline;
}

#crudBreadcrumb a {
	color: #333;
}

#crudBreadcrumb li:last-child a {
	color: #888;
	text-decoration: none;
}

/** Flash message **/

.crudFlash {
	padding: 5px 20px;
	border-bottom: 1px solid #ddd;
	color: #fff;
}

.flashError {
	background: #c00;
}

.flashSuccess {
	background: #54BD06;
}

/** Content **/

#crud #crudContent {
	padding: 10px 20px;
}

#crud #crudContent h2 {
	color: #333;
	font-weight: normal;
	margin-top: 10px;
}

#crud #crudContent a {
	color: #444;
}

/** Tables **/

#crud #crudContent table {
	width: 100%;
	border: 1px solid #8F753F;
	border-top: none;
	border-collapse: collapse;
	background-color: #F9E0B0;
}

#crud #crudContent table thead tr {
	background: #8F753F;
	border: 1px solid #8F753F;
}

#crud #crudContent table th {
	color: #fff;
	font-weight: bold;
}

#crud #crudContent table th a {
	color: #fff;
	font-weight: bold;
}

#crud #crudContent table th {
	text-align: left;
	padding: 6px 5px;
}

#crud #crudContent table td {
	text-align: left;
	padding: 4px 5px;
}

#crud #crudContent table td {
	border-bottom: 1px solid #8F753F;
}

#crud #crudContent table tr.even {
	background: #f9f9f9;
}

#crud #crudContent table tr:last-child td {
	border-bottom: 1px solid #8F753F;
}

.crudSortedAsc:after {
	content: '▼';
}

.crudSortedDesc:after {
	content: '▲';
}

/** Forms **/

form {
	margin: 0;
}

input, textarea, select {
	font-family: 'Helvetica', 'Arial', 'Sans';
	font-size: 12px;
}

textarea {
	padding: 2px;
}

.objectForm {
	border: 1px solid #ddd;
}

label {
	display: block;
	font-weight: bold;
	width: 20%;
	float: left;
	color: #666;
	cursor: pointer;
}

.crudField {
	padding: 10px;
	border-bottom: 1px solid #eee;
	position: relative;
}

.crud_hidden {
    display: none;
}

.crudButtons {
	background: #efefef;
	text-align: right;
	margin: 0;
	padding: 10px;
}

.crudField .error {
	color: #c00;
	padding-left: 10px;
	position: absolute;
	top: 15px;
	font-size: 80%;
}

.crudField .hasError {
	color: #c00;
}

.crudField select[multiple] {
	max-height: 100px;
}

.crudField .crudHelp {
	font-size: 70%;
	color: #888;
	display: block;
	margin-left: 20%;
	margin-top: 5px;
}

form .currentAttachment {
	display: block;
	font-size: 80%;
	margin-left: 20%;
	padding-top: 4px;
}

form .removeAttachment {
    display: block;
    font-size: 80%;
    margin-left: 20%;
}

/** Footer **/

#crud #crudFooter {
	font-size: 80%;
	color: #aaa;
	padding: 10px 20px;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
	margin-top: 20px;
}

#crud #crudFooter a {
	color: #333;
}

/** Home **/

.crudNew {
	text-align: right !important;
}

.crudNew a {
	background: #E6A117;
	padding: 2px 10px;
	font-size: 90%;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	color: #fff !important;
	text-decoration: none;
}

.crudNew a:hover {
	opacity: .8;
}

/** List **/

#crudList {
	position: relative;
}

#crudListAdd a {
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	background: #E6A117;
	padding: 3px 10px;
	font-size: 90%;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	color: #fff !important;
	text-decoration: none;
}

#crudListAdd a:hover {
	opacity: .8;
}

#crudListSearch {
	padding: 4px 5px;
	border: 1px solid #ddd;
	background: #efefef;
}

#crudListSearch input[type=text] {
	width: 40%;
}

#crudListSearch a {
	color: #111 !important;
	font-size: 90%;
}

#crudListPagination {
	padding: 4px 5px;
	border: 1px solid #ddd;
	background: #efefef;
	border-top: 0;
	font-size: 90%;
	position: relative;
}

#crudListPagination .crudCount {
	margin: 0;
}

#crudListPagination .crudPages {
	margin: 0;
	position: absolute;
	right: 5px;
	top: 4px;
}

/** Show **/

#crudShow {
	position: relative;
}

.crudDelete input {
	color: #fff;
	border: none;
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	background: #c00;
	padding: 2px 10px;
	font-size: 90%;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	cursor: pointer;
}

.crudDelete input:hover {
	opacity: .7;
}