/*.primary-1 { background-color: #E6A117 } zahlavi
.primary-2 { background-color: #8F753F }
.primary-3 { background-color: #6D4A03 }
.primary-4 { background-color: #F9CA6D } světlé
.primary-5 { background-color: #F9E0B0 } pozadí
*/

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }


html {
/*	height: 100%;*/
}

body {
    display: block;
	border-width: 0px;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: sans-serif;
}

.inner-body {
	margin: auto;
	width: 1100px;
	height: auto;
	border-top: 0px;
	border-bottom: 0px;
	/*min-height: 100%;*/
	margin: 0 auto;
}

#header {
	position: fixed;
	top: 0px;
	width: 1100px;
	border-width: 0px;
	padding: 5px 0px 5px 0px;
	height: 25px;
	background-color: white;
	z-index: 1000;
}
#header h1 {
	font-size: 22px;
	margin: 0;
	padding: 0;
	text-align: center;
}


#menu {
	position: fixed;
	top: 35px;	
	height: 32px;
	width: 1100px;
	margin: 0;
	padding: 0;
	border-width: 0;
	background-color: #E6A117;
	z-index: 1000;
}
#menu ul {
	display: inline;
	height: 100%;
	width: 1060px;
}
#menu ul li {
	display: inline;
	float: left;
	text-align: center;
	height: 100%;
	padding: 6px 5px 0 0;
}
#menu ul li.right {
	float: right;
}
#menu ul li a {
	font-family: sans-serif;
	font-size: .8em;
	padding: 2px 15px 2px 15px;
	height: 100%;
/*	text-decoration: none;*/
	font-weight: bold;
	color: #6D4A03;
}
#menu ul li a.active {
	text-decoration: underline;
}

#content {
	padding: 0;
	border-width: 0;
	width: 1100px;
	margin-top: 80px;
}
.inner-content {
	width: 95%;
	margin: 40px auto auto auto;
}

h2 {
	font-size: 1.2em;
}
h3 {
	font-size: 1em;
/*	font-style: italic;*/
	text-decoration: underline;
	margin: 30px 0 0 0;
}

a {
	color: #6D4A03;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.flashes {
	text-align: center;
	z-index: 90;
}

.flashes .flash {
	padding-top: 2px;
}

input.datepicker, input.datetimepicker {
	background-color: white;
	background-image: url('calendar.png');
	background-position: right;
	background-repeat: no-repeat;
}

table.table, form table {
	border-collapse: collapse;
}
table.table th, table.table td, form table th, form table td {
	text-align: left;
/*	border: 1px black solid;*/
	padding: 4px 15px 4px 0px;
}


table.datagrid {
	width: 100%;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	background-color: #F9E0B0;
	font-size: .8em;
}
table.datagrid thead tr {
	background-color: #E6A117;
	color: #6D4A03;
}
table.datagrid th, table.datagrid td {
	border: 1px black solid;
	padding: 3px 5px 3px 5px;
/*	font-size: 12px;*/
}


.ui-icon.text-preview {
	position: relative;
	top: -6px;
	left: -6px;
	margin: 0;
	padding: 0;
}
.text-preview:hover {
	z-index: 100;
}
#text-preview-window {
	 position: fixed;
	 _position: absolute;
	 top: 0px;
	 left: 0px;
	 background-color: white;
	 width: 800px;
	 border: 1px black solid;
	 z-index: 10;
}

.text-preview-content {
	display: none;
}



/* Multiselect */
select[multiple="yes"] {
	width: 450px;
	height: 200px;
}
.ui-multiselect {
	float: left;
}
.crud_relation.crud_multiple {
	height: 200px;
}


/* CRUD */

#crudListAdd {
	float: left;
	margin: 0;
	padding: 0;
}
#crudListSearch {
	float: right;
}

/* Menu */
/*#menu {
	display: block;
	height: 30px;
	background-color: #F9CA6D;
}
#menu ul {
	display: block;
}
#menu ul li {
	list-style: none;
	float: left;
	margin: 8px 8px;
}
#menu ul li a {
	font-size: 12px;
	font-weight: bold;
	color: #8F753F;
	text-decoration: none;
}
#menu ul li a.active,  #menu ul li a:hover{
	text-decoration: underline;
}*/


/*body {
	margin: auto;
	background: white;
	color: #666;
	font: 75%/1.33 Verdana, sans-serif;
	text-align: left;
	width: 1000px;
}
h1 {
	margin: 0.5em 0;
	font-size: 200%;
	color: #8F753F;
}
p {
	margin: 0.5em 0;
}
a {
	color: #8F753F;
}

.color-table {
	margin: 2em 2em 5em;
	border-collapse: collapse;
	border: none;
	border-spacing: 0;
	font-size: 100%;
}
.color-table th {
	padding: 0 1em 0 0;
	text-align: right;
	vertical-align: middle;
	font-size: 110%;
	border: none;
}
.color-table td.sample {
	width: 10em;
	height: 8em;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	font-size: 90%;
	border: 1px solid white;
	white-space: nowrap;
}
.color-table.small td.sample {
	width: 4em;
	height: 4em;
	padding: 0;
	border: none;
}
.color-table .white {
	margin-bottom: 0.2em;
	color: white
}
.color-table .black {
	margin-top: 0.2em;
	color: black
}

hr {
	border: none;
	border-bottom:1px solid silver;
}

#footer {
	padding: 1em 0;
	text-align: center;
	font-size: 80%;
	color: #F9CA6D;
}
#footer a {
	color: #E6A117;
}

CRUD
.crudSortedAsc:after {
	content: '▼';
}

.crudSortedDesc:after {
	content: '▲';
}

* Breadcrumb *

#crudBreadcrumb {
	padding: 5px 20px;
	font-size: 80%;
	border-bottom: 1px solid #ddd;
}

#crudBreadcrumb ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#crudBreadcrumb li {
	display: inline;
}

#crudBreadcrumb a {
	color: #333;
}

#crudBreadcrumb li:last-child a {
	color: #888;
	text-decoration: none;
}

* Flash message *

.crudFlash {
	padding: 5px 20px;
	border-bottom: 1px solid #ddd;
	color: #fff;
}

.flashError {
	background: #c00;
}

.flashSuccess {
	background: #54BD06;
}

* Content *

#crud #crudContent {
	padding: 10px 20px;
}

#crud #crudContent h2 {
	color: #333;
	font-weight: normal;
	margin-top: 10px;
}

#crud #crudContent a {
	color: #444;
}

* Tables *

table {
	width: 100%;
	border: 1px solid #8F753F;
	border-top: none;
	border-collapse: collapse;
	background-color: #F9E0B0;
}

table thead tr {
	background: #8F753F;
	border: 1px solid #8F753F;
}

table th {
	color: #fff;
	font-weight: bold;
}

table th a {
	color: #fff;
	font-weight: bold;
}

table th {
	text-align: left;
	padding: 6px 5px;
}

table td {
	text-align: left;
	padding: 4px 5px;
}

table td {
	border-bottom: 1px solid #8F753F;
}

table tr.even {
	background: #f9f9f9;
}

table tr:last-child td {
	border-bottom: 1px solid #8F753F;
}

.crudSortedAsc:after {
	content: '▼';
}

.crudSortedDesc:after {
	content: '▲';
}

* Forms *

form {
	margin: 0;
}

input, textarea, select {
	font-family: 'Helvetica', 'Arial', 'Sans';
	font-size: 12px;
}

textarea {
	padding: 2px;
}

.objectForm {
	border: 1px solid #ddd;
}

label {
	display: block;
	font-weight: bold;
	width: 20%;
	float: left;
	color: #666;
	cursor: pointer;
}

.crudField {
	padding: 10px;
	border-bottom: 1px solid #eee;
	position: relative;
}

.crud_hidden {
    display: none;
}

.crud_number {

}

.crudButtons {
	background: #efefef;
	text-align: right;
	margin: 0;
	padding: 10px;
}

.crudField .error {
	color: #c00;
	padding-left: 10px;
	position: absolute;
	top: 15px;
	font-size: 80%;
}

.crudField .hasError {
	color: #c00;
}

.crudField select[multiple] {
	max-height: 100px;
}

.crudField .crudHelp {
	font-size: 70%;
	color: #888;
	display: block;
	margin-left: 20%;
	margin-top: 5px;
}

form .currentAttachment {
	display: block;
	font-size: 80%;
	margin-left: 20%;
	padding-top: 4px;
}

form .removeAttachment {
    display: block;
    font-size: 80%;
    margin-left: 20%;
}

* Footer *

#crud #crudFooter {
	font-size: 80%;
	color: #aaa;
	padding: 10px 20px;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
	margin-top: 20px;
}

#crud #crudFooter a {
	color: #333;
}

* Home *

.crudNew {
	text-align: right !important;
}

.crudNew a {
	background: #E6A117;
	padding: 2px 10px;
	font-size: 90%;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	color: #fff !important;
	text-decoration: none;
}

.crudNew a:hover {
	opacity: .8;
}

* List *

#crudList {
	position: relative;
}

#crudListAdd a {
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	background: #E6A117;
	padding: 3px 10px;
	font-size: 90%;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	color: #fff !important;
	text-decoration: none;
}

#crudListAdd a:hover {
	opacity: .8;
}

#crudListSearch {
	padding: 4px 5px;
	border: 1px solid #ddd;
	background: #efefef;
}

#crudListSearch input[type=text] {
	width: 40%;
}

#crudListSearch a {
	color: #111 !important;
	font-size: 90%;
}

#crudListPagination {
	padding: 4px 5px;
	border: 1px solid #ddd;
	background: #efefef;
	border-top: 0;
	font-size: 90%;
	position: relative;
}

#crudListPagination .crudCount {
	margin: 0;
}

#crudListPagination .crudPages {
	margin: 0;
	position: absolute;
	right: 5px;
	top: 4px;
}

* Show *

#crudShow {
	position: relative;
}

.crudDelete input {
	color: #fff;
	border: none;
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
	background: #c00;
	padding: 2px 10px;
	font-size: 90%;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	cursor: pointer;
}

.crudDelete input:hover {
	opacity: .7;
}*/