#{extends 'contestant/main.html' /}

#{set title:'Statistics' /}

#{table statistics, as:'statistic', class:'datagrid'}
  #{column 'Task'} <a href="@{contestant.Task.index(competition.id, statistic[0])}">${statistic[1]}</a> #{/column}
  #{column 'Accepted'} #{if statistic[2] > 0} YES #{/if}#{else} NO #{/else} #{/column}
  #{column 'Wrong solutions'} ${statistic[3]} #{/column}
  #{column 'In queue'} ${statistic[4]} #{/column}
#{/table}


#{if contestantsStatistics != null}
	<h3>Contestants statistics</h3>
	#{table contestantsStatistics, as:'user', class:'datagrid'}
		#{column 'Position'} 
			#{if user.contestant.id == contestant.id}<b>#{/if}
				${user.position} 
			#{if user.contestant.id == contestant.id}</b>#{/if}
		#{/column}
		#{column 'Contestant'}
			#{if user.contestant.id == contestant.id}<b>#{/if}
				${user.contestant.login}
			#{if user.contestant.id == contestant.id}</b>#{/if}
		#{/column}
		#{column 'Solved tasks'} 
			#{if user.contestant.id == contestant.id}<b>#{/if}
				#{list user.solvedTasks.keySet(), as:'key'}
					<a href="@{contestant.Task.index(competition.id, key.id)}">${key.name}</a> 
					<span title="Number of wrong submittions">(${user.solvedTasks[key]})</span>${key_isLast ? '' : ', '} 
				#{/list}
			#{if user.contestant.id == contestant.id}</b>#{/if}
		#{/column}
	#{/table}
#{/if}
