#{extends 'contestant/main.html' /}

#{set title:'Statistics' /}

#{table statistics, as:'statistic', class:'datagrid'}
  #{column 'Task'} <a href="@{contestant.Task.index(competition.id, statistic[0])}">${statistic[1]}</a> #{/column}
  #{column 'Accepted'} #{if statistic[2] > 0} YES #{/if}#{else} NO #{/else} #{/column}
  #{column 'Wrong solutions'} ${statistic[3]} #{/column}
  #{column 'In queue'} ${statistic[4]} #{/column}
#{/table}


#{if contestantsStatistics != null}
	<h3>Contestants statistics</h3>
	#{table contestantsStatistics, as:'user', class:'datagrid'}
		#{column 'Position'} ${user.position} #{/column}
		#{column 'Contestant'} ${user.contestant.login} #{/column}
		#{column 'Solved tasks'} 
			#{list user.solvedTasks.keySet(), as:'key'}
				${key.name} (${user.solvedTasks[key]})${key_isLast ? '' : ', '} 
			#{/list}
		#{/column}
	#{/table}
#{/if}
