temp/*

# tracer
tracer/build
tracer/dist
tracer/tests/tests/*
!tracer/tests/tests/*.c
!tracer/tests/tests/*.cpp
tracer/diff/*
!tracer/diff/*.c
!tracer/diff/*.cpp

# server
server/build
server/dist
server/nbproject/private/

# web
web/evaluationserver/tmp
web/evaluationserver/modules
web/evaluationserver/lib
web/evaluationserver/test-result
web/evaluationserver/logs
web/evaluationserver/nbproject

