temp/*

# tracer
tracer/build
tracer/dist
tracer/tests/tests/*
!tracer/tests/tests/*.c
!tracer/tests/tests/*.cpp
tracer/diff/*
!tracer/diff/*.c
!tracer/diff/*.cpp

# server
server/build
server/dist

# web
/server/nbproject/private/
