#{extends 'contestant/main.html' /}

#{set title:'Task' /}

<table class="table">
	<tr>
		<th>Name:</th>
		<td>${task.name}</td>
	</tr>
	<tr>
		<th>Time limit:</th>
		<td>#{time task.timeLimit /}</td>
	</tr>
	<tr>
		<th>Memory limit:</th>
		<td>#{bytes task.memoryLimit /}</td>
	</tr>
	<tr>
		<th>Source limit:</th>
		<td>#{bytes task.sourceLimit /}</td>
	</tr>
</table>

<h3>Description</h3>
<p>${task.description.raw()}</p>

<h3>Sample input</h3>
<p><code>${task.sampleInput.nl2br()}</code></p>

<h3>Sample output</h3>
<p><code>${task.sampleOutput.nl2br()}</code></p>

<a href="@{contestant.Submit.index(competition.id)}">Submit solution</a>