#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}

<div id="crudBlank" class="${type.name}">

    #{form action:@create(), enctype:'multipart/form-data'}
	<table class="table">
        #{crud.form /}
		
		<tr class="crudField crud_binary">
			<th><label for="data">&{'file'}</label></th>
			<td>
				<input id="data" class="" type="file" name="data" />
				#{ifError 'data'}
					#{errors 'data'}
						<span class="error">${error.raw()}</span>
					#{/errors}
				#{/ifError}			
			</th>
		</tr>		
		
		<tr>
			<th></th>
			<td>
				<input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
				<input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
				<input type="submit" name="_saveAndAddAnother" value="&{'crud.saveAndAddAnother', type.modelName}" />
			</td>
		</tr>
	</table>
    #{/form}	

</div>