#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}

<div id="crudShow" class="${type.name}">

    
    #{form action:@save(object._key()), enctype:'multipart/form-data'}
	<table class="table">
        #{crud.form}
				#{crud.custom 'created' }
					<tr>
						<th>&{'created'}</th>
						<td>${object.created.format('yyyy-MM-dd HH:mm:ss')}</td>
					</tr>
				#{/crud.custom}
				#{crud.custom 'file' }
					<tr>
						<th>&{'file'}</th>
						<td>
							<input id="file" type="file" name="file" />
							#{if object.file != null}
								<a href="@{admin.with.Files.download(object.file._key())}">${object.file.name}</a>
							#{/if}
							#{ifError 'inputData'}
								<span class="error">#{error 'inputData' /}</span>
							#{/ifError}							
						</td>
					</tr>
				#{/crud.custom}					
		#{/crud.form}
		<tr>
			<th></th>
			<td>
				<input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
				<input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
			</td>
		</tr>
	</table>
    #{/form}

    #{form @delete(object._key())}
        <p class="crudDelete">
            <input class="confirm"type="submit" value="&{'crud.delete', type.modelName}" />
        </p>
    #{/form}
    #{form @unevaluate(object._key())}
        <p class="crudDelete">
            <input class="confirm" data-confirm="Really remove evaluation?" type="submit" value="&{'Remove evaluation'}" />
        </p>
    #{/form}

</div>