<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/humanity/jquery-ui-1.8.17.custom.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/ui.multiselect.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/jquery-ui-timepicker-addon.css'}">
		<!--        #{get 'moreStyles' /}-->
		<!--        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">-->
        <script src="@{'/public/javascripts/jquery-1.7.1.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/jquery-ui-1.8.17.custom.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/multiselect/ui.multiselect.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/timepicker/jquery-ui-timepicker-addon.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/scripts.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		<!--        #{get 'moreScripts' /}-->
    </head>

	<body class="">
		<div class="inner-body">

			<div id="header"><h1>&nbsp;&nbsp;&nbsp;Evaluation server</h1></div>
			<div id="menu">
				#{if menu != null}
					#{navigation.default menu /}
				#{/if}
			</div>
			#{if flash.success}
				<div class="flashSuccess">
					${flash.success}
				</div>
			#{/if}
			#{if flash.error || error}
				<div class="flashError">
					${error ?: flash.error}
				</div>
			#{/if}
#{ifErrors 'error'}
 
   <h1>Oops…</h1>
   <ul>
   #{errors 'error'}
       <li>${error}</li>
   #{/errors}
   </ul>
#{/ifErrors}

			<div id="content">
<!--				<div class="flashes " style="height: auto; width: 100%;">
					<div n:foreach="$flashes as $flash" class="flash {$flash->type} ui-corner-all" style="margin: auto; width: 700px;">{$flash->message}</div>
				</div>-->

				<div class="inner-content">
					<h2>#{get 'title' /}</h2>
					#{doLayout /}
				</div>
			</div>
		</div>
	</body>

</html>
