#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}

%{
	object.sourceLimit /= 1024
	object.memoryLimit /= 1024
	object.outputLimit /= 1024
}%

<div id="crudShow" class="${type.name}">

    
    #{form action:@save(object._key()), enctype:'multipart/form-data'}
	<table class="table">
        #{crud.form}
				#{crud.custom 'inputData'}
					<tr>
						<th>&{'inputData'}</th>
						<td>
							<input id="inputData" type="file" name="inputData" />
							#{if object.inputData != null}
								<a href="@{admin.with.Files.download(object.inputData._key())}">${object.inputData.name}</a>
							#{/if}
							#{ifError 'inputData'}
								<span class="error">#{error 'inputData' /}</span>
							#{/ifError}							
						</td>
					</tr>
				#{/crud.custom}			
				#{crud.custom 'outputData'}
					<tr>
						<th>&{'outputData'}</th>
						<td>
							<input id="outputData" type="file" name="outputData" />
							#{if object.outputData != null}
								<a href="@{admin.with.Files.download(object.outputData._key())}">${object.outputData.name}</a>
								[remove <input type="checkbox" name="removeOutputData">]
							#{/if}
							#{ifError 'outputData'}
								<span class="error">#{error 'outputData' /}</span>
							#{/ifError}							
						</td>
					</tr>
				#{/crud.custom}			
		#{/crud.form}
		<tr>
			<th></th>
			<td>
				<input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
				<input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
			</td>
		</tr>
	</table>
    #{/form}

    #{form @delete(object._key())}
        <p class="crudDelete">
            <input class="confirm" data-confirm="Delete task? It will delete also all solutions!" type="submit" value="&{'crud.delete', type.modelName}" />
        </p>
    #{/form}

    #{form @unevaluate(object._key())}
        <p class="crudDelete">
            <input class="confirm" data-confirm="Really remove evaluation of all solutions for this task?" type="submit" value="&{'Remove all evaluations'}" />
        </p>
    #{/form}	
	
</div>